@import "reset.css";

html, body {
  margin: 0;
  height: 100%;
}

body {
  background-color: #0c0c0c;
  color: white;
  overflow: hidden; /* Hide scrollbars */
}

body {
  transition-property: background-color;
  transition-duration: 1s;
}

button {
  all: none;
}
.center {
  margin: 40%;
}
.but {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 15px 20px;
  position: relative;
  display: inline-block;
  padding-top: 160px;
}

.padding_border {
	padding: 90px;
}

.title {
  width: 108px;
  font-size: 24px;
}

.name {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #fff;
}

.title:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.title:hover:after {
  width: 100%;
  left: 0;
}

ul {
  margin: 16px auto 16px;
  padding: 0;
  list-style: none;
  display: table;
  text-align: center;
}
li {
  display: table-cell;
  position: relative;
  padding: 15px 0;
}

.link {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: inline-block;
  padding: 15px 20px;
  position: relative;
  display: inline-block;
}
.link:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.link:hover:after {
  width: 100%;
  left: 0;
}
@media screen and (max-height: 300px) {
  ul {
    margin-top: 40px;
  }
}

.button {
  list-style: none;
  padding: 16px 0px;
  margin-left: 0 auto;
  display: inline-block;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.button:hover {
  background-color: white;
  color: black;
}
footer {
  width: 100%;
}


.but {
  display: inline-block;
  width: 100%;
  height: 100%;
  text-align: center;
  list-style: none;
  flex-direction: column;
}

.slide {
  width: 960px;
  height: 400px;
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 50px;
  text-align: center;
  margin: 0 auto;
}

#content {
  width: 30vw;
  background-color: #333;
  color: #f3f3f3;
  padding: 30px;
  border-radius: 10px;
  overflow: hidden;
}
.ux {
  width: 150px;
  text-align: center;
  margin: auto;
  padding-top: 15px;
}

.logo {
  position: relative;
  width: 300px;
  text-align: center;
  margin: auto;
  display: inline-block;
}

.circle{
 width: 200px;
 height: 200px;
 padding: 0;
 background-color: green;
 border-radius: 50%;
 margin: 25px;
 display: inline-block;
}
.circle:hover{
  background-color: ivory;
}

.circle-text{
position: inherit;
top: 50%;
bottom: 50%;
}
/* Reset */
@import url(//codepen.io/chrisdothtml/pen/ojLzJK.css);
.tiles {
  font-size: 0;
  text-align: center;
  margin: auto;
}
.tiles .tile {
  display: inline-block;
  margin: 10px;
  text-align: left;
  opacity: .99;
  overflow: hidden;
  position: relative;
  border-radius: 3px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05);
}
.tiles .tile:before {
  content: '';
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.7)));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
  width: 100%;
  height: 50%;
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 2;
  -webkit-transition-property: top, opacity;
  transition-property: top, opacity;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}
.tiles .tile img {
  display: block;
  max-width: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.tiles .tile .details {
  font-size: 16px;
  padding: 20px;
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 3;
}
.tiles .tile .details span {
  display: block;
  opacity: 0;
  position: relative;
  top: 100px;
  -webkit-transition-property: top, opacity;
  transition-property: top, opacity;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}
.tiles .tile .details .title {
  line-height: 1;
  font-weight: 600;
  font-size: 18px;
}
.tiles .tile .details .info {
  line-height: 1.2;
  margin-top: 5px;
  font-size: 12px;
}
.tiles .tile:focus:before,
.tiles .tile:focus span, .tiles .tile:hover:before,
.tiles .tile:hover span {
  opacity: 1;
}
.tiles .tile:focus:before, .tiles .tile:hover:before {
  top: 50%;
}
.tiles .tile:focus span, .tiles .tile:hover span {
  top: 0;
}
.tiles .tile:focus .title, .tiles .tile:hover .title {
  -webkit-transition-delay: 0.15s;
          transition-delay: 0.15s;
}
.tiles .tile:focus .info, .tiles .tile:hover .info {
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
}

.container{
  position: relative;
  display: block;
  padding: 50px 0 50px 0;
}